<div
  style="
    background-color: #36454f;
    position: relative;
    max-height: 80vh;
    opacity: 0.85;
  "
  class="card"
>
  <div class="row d-flex justify-content-evenly m-1">
    <div class="col-md-10 w-80 d-flex">
      <div class="d-inline-block align-self-center">
        <div>{{ board?.name | uppercase }}</div>
      </div>
    </div>
    <div class="col-md-1 w-20 d-flex justify-content-end">
      <div
        class="d-inline-block align-self-center"
        style="margin-right: 1.5rem"
        (click)="onPinBoard()"
        [@pin]="board.pinned ? 'pin' : 'unpin'"
      >
        <i class="bi bi-pin-angle" style="cursor: pointer"></i>
      </div>
      <div class="d-inline-block align-self-center">
        <app-edit-button [actions]="actions"></app-edit-button>
      </div>
    </div>
  </div>
  <hr class="m-1" />
  <div *ngIf="board?.tasks?.length == 0" class="row row-cols-1 m-0 board-card">
    <div class="col mt-2">
      <p class="fs-4">There is no tasks.</p>
    </div>
  </div>
  <div *ngIf="board?.tasks?.length" class="row row-cols-1 m-0 board-card">
    <div class="col mt-2" *ngFor="let task of board?.tasks">
      <app-task [task]="task"></app-task>
    </div>
  </div>
</div>
